<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from dashui.codescandy.com/dashuipro/pages/sign-in.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 02 Aug 2024 16:32:40 GMT -->

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="https://img.icons8.com/?size=100&id=ixEVm6F0REs_&format=png&color=7950F2"
        type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.css"
        integrity="sha512-wJgJNTBBkLit7ymC6vvzM1EcSWeM9mmOu+1USHaRBbHkm6W9EgM0HY27+UtUaprntaYQJF75rc8gjxllKs5OIQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="author" content="Codescandy" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M8S4MT3EYG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-M8S4MT3EYG");
    </script>

    <!-- Color modes -->
    <script src="/assets/js/vendors/color-modes.js"></script>

    <!-- Libs CSS -->
    <link href="/assets/libs/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="/assets/libs/%40mdi/font/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="/assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/assets/css/theme.min.css" />
    <title>Forgot Password | eCommerce</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>

<body>
    <!-- container -->
    <main class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center g-0 min-vh-100">
            <div class="col-12 col-md-8 col-lg-6 col-xxl-4 py-8 py-xl-0">

                <!-- Card -->
                <div class="card smooth-shadow-md">
                    <!-- Card body -->
                    <div class="card-body p-6">
                        <div class="mb-4">
                            <a href="../index.html"><img src="/assets/images/brand/logo/logo-2.svg"
                                    class="mb-2 text-inverse" alt="Image" /></a>
                            <p class="mb-6">
                                Please set a new Password.
                            </p>
                        </div>
                        <!-- Form -->
                        <form id="newPasswordForm">
                            <!-- Username -->
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" id="password" class="form-control" name="password"
                                    placeholder="Password here" required="" />
                            </div>

                            <div class="mb-3">
                                <label for="password" class="form-label"> Confirm Password</label>
                                <input type="password" id="cpassword" class="form-control" name="cpassword"
                                    placeholder="Confirm Password here" required="" />
                                <input type="hidden" name="email" id="email">
                            </div>
                            <div>
                                <!-- Button -->
                                <div class="d-grid">
                                    <button type="submit" id="sendBTN" class="btn btn-primary">
                                        Send
                                    </button>
                                </div>

                                <div class="d-md-flex justify-content-between mt-4">
                                    <div class="mb-2 mb-md-0">
                                        <a href="/api/v1/auth/login-page" class="fs-5">Back To Login</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Scripts -->
    <!-- Libs JS -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js"
        integrity="sha512-KFHXdr2oObHKI9w4Hv1XPKc898mE4kgYx58oqsc/JqqdLMDI4YjOLzom+EMlW8HFUd0QfjfAvxSL6sEq/a42fQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"
        integrity="sha512-zlWWyZq71UMApAjih4WkaRpikgY9Bz1oXIW5G0fED4vk14JjGlQ1UmkGM392jEULP8jbNMiwLWdM8Z87Hu88Fw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/libs/feather-icons/dist/feather.min.js"></script>
    <script src="/assets/libs/simplebar/dist/simplebar.min.js"></script>

    <!-- Theme JS -->
    <script src="/assets/js/theme.min.js"></script>

    <!-- Form Handle -->
    <script>
        $(document).ready(function () {

            // Get URL parameters
            const params = new URLSearchParams(window.location.search);
            const data = params.get('data');
            document.getElementById("email").value = data

            //form validation
            // Define custom password validation method
            $.validator.addMethod("complexPassword", function (value, element) {
                return this.optional(element) || /[A-Z]/.test(value) && /\d/.test(value) && /[!@#$%^&*(),.?":{}|<>]/.test(value);
            }, "Password must contain at least one uppercase letter, one digit, and one special character.");

            $("#newPasswordForm").validate({
                rules: {
                    password: {
                        required: true,
                        complexPassword: true,  // Use custom validation method
                        minlength: 8  // Optional: Add more rules like minimum length
                    },
                    cpassword: {
                        required: true,
                        equalTo: "#password"
                    }
                },
            });

            //Submiting Form
            $("#newPasswordForm").on("submit", function (event) {
                event.preventDefault();
                if ($(this).valid()) {
                    const formData = $(this).serialize();
                    console.log(formData)
                    $.ajax({
                        url: "/api/v1/auth/new-password",
                        type: "POST",
                        data: formData,
                        success: function (response) {
                            console.log(response)
                            if (response.success) {
                                $.toast({
                                    heading: "Success",
                                    text: response.message,
                                    showHideTransition: "slide",
                                    icon: "success",
                                    position: "top-right",
                                });
                                window.location.href = `/api/v1/auth/login-page`
                            }
                        },
                        error: function (xhr, status, error) {
                            if (xhr.responseJSON || xhr.responseJSON.message) {
                                $.toast({
                                    heading: "Error",
                                    text: xhr.responseJSON.message,
                                    showHideTransition: "slide",
                                    icon: "error",
                                    position: "top-right",
                                });
                            } else {
                                $.toast({
                                    heading: "Error",
                                    text: "Something Went Wrong",
                                    showHideTransition: "slide",
                                    icon: "error",
                                    position: "top-right",
                                });
                            }
                        },
                    });
                }
            });
        });
    </script>
</body>

<!-- Mirrored from dashui.codescandy.com/dashuipro/pages/sign-in.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 02 Aug 2024 16:32:40 GMT -->

</html>