<!-- navbar vertical -->
<div class="app-menu">
  <!-- Sidebar -->

  <div class="navbar-vertical navbar nav-dashboard">
    <div class="h-100" data-simplebar>
      <!-- Brand logo -->
      <a class="navbar-brand" href="/">
        <img src="/assets/images/brand/logo/logo-2.svg" alt="dash ui - bootstrap 5 admin dashboard template" />
      </a>
      <!-- Navbar nav -->
      <ul class="navbar-nav flex-column" id="sideNavbar">
        <!-- Nav item -->
        <li class="nav-item">
          <a class="nav-link" href="/">
            <i data-feather="home" class="nav-icon me-2 icon-xxs"></i>
            Dashboard
          </a>
        </li>

        <!-- Nav item -->
        <li class="nav-item">
          <div class="navbar-heading">Modules</div>
        </li>

        <!-- Nav item -->
        <li class="nav-item">
          <a class="nav-link has-arrow collapsed" href="#!" data-bs-toggle="collapse" data-bs-target="#navecommerce"
            aria-expanded="false" aria-controls="navecommerce">
            <i data-feather="users" class="nav-icon me-2 icon-xxs"></i>
            Admin
          </a>

          <div id="navecommerce" class="collapse" data-bs-parent="#sideNavbar">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link has-arrow" href="/adminhandle/add-admin-page">Add Admin</a>
              </li>
              <li class="nav-item">
                <a class="nav-link has-arrow" href="/adminhandle/manage-admin-page">Manage Admin</a>
              </li>
            </ul>
          </div>
        </li>
        <!-- Nav item -->
        <li class="nav-item">
          <a class="nav-link has-arrow collapsed" href="#!" data-bs-toggle="collapse" data-bs-target="#navEmail"
            aria-expanded="false" aria-controls="navEmail">
            <i data-feather="mail" class="nav-icon me-2 icon-xxs"></i>
            Email
          </a>

          <div id="navEmail" class="collapse" data-bs-parent="#sideNavbar">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link has-arrow" href="pages/mail.html">Inbox</a>
              </li>
              <li class="nav-item">
                <a class="nav-link has-arrow" href="pages/mail-details.html">Details</a>
              </li>
              <li class="nav-item">
                <a class="nav-link has-arrow" href="pages/mail-draft.html">Draft</a>
              </li>
            </ul>
          </div>
        </li>
        <!-- Nav item -->
        <li class="nav-item">
          <a class="nav-link has-arrow collapsed" href="#!" data-bs-toggle="collapse" data-bs-target="#navKanban"
            aria-expanded="false" aria-controls="navKanban">
            <i data-feather="layout" class="nav-icon me-2 icon-xxs"></i>
            Kanban
          </a>

          <div id="navKanban" class="collapse" data-bs-parent="#sideNavbar">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link has-arrow" href="pages/task-kanban-grid.html">Grid</a>
              </li>
              <li class="nav-item">
                <a class="nav-link has-arrow" href="pages/task-kanban-list.html">List</a>
              </li>
            </ul>
          </div>
        </li>
        <!-- Nav item -->
        <!-- Nav item -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#!" data-bs-toggle="collapse" data-bs-target="#navProject"
            aria-expanded="false" aria-controls="navProject">
            <i class="nav-icon me-2 icon-xxs" data-feather="file"></i>
            Project
          </a>
          <div id="navProject" class="collapse" data-bs-parent="#sideNavbar">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="pages/project-grid.html">Grid</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="pages/project-list.html">List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link collapsed" href="#!" data-bs-toggle="collapse" data-bs-target="#navprojectSingle"
                  aria-expanded="false" aria-controls="navprojectSingle">
                  Single
                </a>
                <div id="navprojectSingle" class="collapse" data-bs-parent="#navProject">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" href="pages/project-overview.html">Overview</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="pages/project-task.html">Task</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="pages/project-budget.html">Budget</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="pages/project-files.html">Files</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="pages/project-team.html">Team</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="pages/add-project.html">Create Project</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="pages/apps-file-manager.html">
            <i data-feather="folder-plus" class="nav-icon me-2 icon-xxs"></i>
            File Manager
          </a>
        </li>
        <!-- Nav item -->
        <li class="nav-item">
          <a class="nav-link has-arrow collapsed" href="#!" data-bs-toggle="collapse" data-bs-target="#navCRM"
            aria-expanded="false" aria-controls="navCRM">
            <i data-feather="pie-chart" class="nav-icon me-2 icon-xxs"></i>

            CRM
          </a>

          <div id="navCRM" class="collapse" data-bs-parent="#sideNavbar">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link has-arrow" href="pages/crm-contacts.html">Contacts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link has-arrow" href="pages/crm-company.html">Company</a>
              </li>
              <li class="nav-item">
                <a class="nav-link has-arrow" href="pages/deals.html">
                  Deals
                  <span class="badge text-bg-primary ms-2">New</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link has-arrow" href="pages/deals-single.html">
                  Deals Single
                  <span class="badge text-bg-primary ms-2">New</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- Nav item -->
        <li class="nav-item">
          <a class="nav-link has-arrow collapsed" href="#!" data-bs-toggle="collapse" data-bs-target="#navinvoice"
            aria-expanded="false" aria-controls="navinvoice">
            <i data-feather="clipboard" class="nav-icon me-2 icon-xxs"></i>
            Invoice
          </a>

          <div id="navinvoice" class="collapse" data-bs-parent="#sideNavbar">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link has-arrow" href="pages/invoice-list.html">List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link has-arrow" href="pages/invoice-detail.html">Detail</a>
              </li>
              <li class="nav-item">
                <a class="nav-link has-arrow" href="pages/invoice-generator.html">Invoice Generator</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="#!" data-bs-toggle="collapse" data-bs-target="#navprofilePages"
            aria-expanded="false" aria-controls="navprofilePages">
            <i data-feather="user" class="nav-icon me-2 icon-xxs"></i>
            Profile
          </a>
          <div id="navprofilePages" class="collapse" data-bs-parent="#sideNavbar">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="pages/profile-overview.html">Overview</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="pages/profile-project.html">Project</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="pages/profile-files.html">Files</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="pages/profile-team.html">Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="pages/profile-followers.html">Followers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="pages/profile-activity.html">Activity</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="pages/profile-settings.html">Settings</a>
              </li>
            </ul>
          </div>
        </li>
        <!-- Nav item -->
        <li class="nav-item">
          <a class="nav-link has-arrow collapsed" href="#!" data-bs-toggle="collapse" data-bs-target="#navblog"
            aria-expanded="false" aria-controls="navblog">
            <i data-feather="edit" class="nav-icon me-2 icon-xxs"></i>
            Blog
          </a>

          <div id="navblog" class="collapse" data-bs-parent="#sideNavbar">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link has-arrow" href="pages/blog-author.html">Author</a>
              </li>
              <li class="nav-item">
                <a class="nav-link has-arrow" href="pages/blog-author-detail.html">Detail</a>
              </li>
              <li class="nav-item">
                <a class="nav-link has-arrow" href="pages/create-blog-post.html">Create Post</a>
              </li>
            </ul>
          </div>
        </li>

        <!-- Nav item -->
        <li class="nav-item">
          <div class="navbar-heading">Layouts & Pages</div>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" href="#!" data-bs-toggle="collapse" data-bs-target="#navlayoutPage"
            aria-expanded="false" aria-controls="navlayoutPage">
            <i class="nav-icon me-2 icon-xxs" data-feather="file"></i>
            Pages
          </a>
          <div id="navlayoutPage" class="collapse" data-bs-parent="#sideNavbar">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="pages/starter.html">Starter</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="pages/pricing.html">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="pages/maintenance.html">Maintenance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="pages/404-error.html">404 Error</a>
              </li>
            </ul>
          </div>
        </li>

        <!-- Nav item -->
        <li class="nav-item">
          <a class="nav-link has-arrow collapsed" href="#!" data-bs-toggle="collapse"
            data-bs-target="#navAuthentication" aria-expanded="false" aria-controls="navAuthentication">
            <i data-feather="lock" class="nav-icon me-2 icon-xxs"></i>
            Authentication
          </a>
          <div id="navAuthentication" class="collapse" data-bs-parent="#sideNavbar">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="pages/sign-in.html">Sign In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="pages/sign-up.html">Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="pages/forget-password.html">Forget Password</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link has-arrow collapsed" href="#!" data-bs-toggle="collapse" data-bs-target="#navLayouts"
            aria-expanded="false" aria-controls="navLayouts">
            <i data-feather="sidebar" class="nav-icon me-2 icon-xxs"></i>
            Layouts
          </a>
          <div id="navLayouts" class="collapse" data-bs-parent="#sideNavbar">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Default</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="horizontal/index.html">Horizontal</a>
              </li>
            </ul>
          </div>
        </li>

        <!-- Nav item -->
        <li class="nav-item">
          <div class="navbar-heading">UI Components</div>
        </li>
        <li class="nav-item">
          <a class="nav-link has-arrow collapsed" href="#!" data-bs-toggle="collapse" data-bs-target="#navComponents"
            aria-expanded="false" aria-controls="navComponents">
            <i data-feather="package" class="nav-icon me-2 icon-xxs"></i>
            Components
          </a>
          <div id="navComponents" class="collapse" data-bs-parent="#sideNavbar">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a href="pages/components/accordions.html" class="nav-link">Accordions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="pages/components/alerts.html">Alert</a>
              </li>

              <li class="nav-item">
                <a href="pages/components/badge.html" class="nav-link">Badge</a>
              </li>

              <li class="nav-item">
                <a href="pages/components/breadcrumb.html" class="nav-link">Breadcrumb</a>
              </li>
              <li class="nav-item">
                <a href="pages/components/buttons.html" class="nav-link">Buttons</a>
              </li>
              <li class="nav-item">
                <a href="pages/components/button-group.html" class="nav-link">Button group</a>
              </li>
              <li class="nav-item">
                <a href="pages/components/card.html" class="nav-link">Card</a>
              </li>
              <li class="nav-item">
                <a href="pages/components/carousel.html" class="nav-link">Carousel</a>
              </li>
              <li class="nav-item">
                <a href="pages/components/close-button.html" class="nav-link">Close Button</a>
              </li>
              <li class="nav-item">
                <a href="pages/components/collapse.html" class="nav-link">Collapse</a>
              </li>
              <li class="nav-item">
                <a href="pages/components/dropdowns.html" class="nav-link">Dropdowns</a>
              </li>
              <li class="nav-item">
                <a href="pages/components/forms.html" class="nav-link">Forms</a>
              </li>

              <li class="nav-item">
                <a href="pages/components/list-group.html" class="nav-link">List group</a>
              </li>

              <li class="nav-item">
                <a href="pages/components/modal.html" class="nav-link">Modal</a>
              </li>
              <li class="nav-item">
                <a href="pages/components/navs-tabs.html" class="nav-link">Navs and tabs</a>
              </li>
              <li class="nav-item">
                <a href="pages/components/navbar.html" class="nav-link">Navbar</a>
              </li>
              <li class="nav-item">
                <a href="pages/components/offcanvas.html" class="nav-link">Offcanvas</a>
              </li>
              <li class="nav-item">
                <a href="pages/components/pagination.html" class="nav-link">Pagination</a>
              </li>
              <li class="nav-item">
                <a href="pages/components/placeholders.html" class="nav-link">Placeholders</a>
              </li>
              <li class="nav-item">
                <a href="pages/components/popovers.html" class="nav-link">Popovers</a>
              </li>
              <li class="nav-item">
                <a href="pages/components/progress.html" class="nav-link">Progress</a>
              </li>
              <li class="nav-item">
                <a href="pages/components/scrollspy.html" class="nav-link">Scrollspy</a>
              </li>
              <li class="nav-item">
                <a href="pages/components/spinners.html" class="nav-link">Spinners</a>
              </li>
              <li class="nav-item">
                <a href="pages/components/tables.html" class="nav-link">Tables</a>
              </li>
              <li class="nav-item">
                <a href="pages/components/toasts.html" class="nav-link">Toasts</a>
              </li>
              <li class="nav-item">
                <a href="pages/components/tooltips.html" class="nav-link">Tooltips</a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link has-arrow collapsed" href="#!" data-bs-toggle="collapse" data-bs-target="#navMenuLevel"
            aria-expanded="false" aria-controls="navMenuLevel">
            <i data-feather="corner-left-down" class="nav-icon me-2 icon-xxs"></i>
            Menu Level
          </a>
          <div id="navMenuLevel" class="collapse" data-bs-parent="#sideNavbar">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link has-arrow" href="#!" data-bs-toggle="collapse" data-bs-target="#navMenuLevelSecond"
                  aria-expanded="false" aria-controls="navMenuLevelSecond">
                  Two Level
                </a>
                <div id="navMenuLevelSecond" class="collapse" data-bs-parent="#navMenuLevel">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" href="#!">NavItem 1</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#!">NavItem 2</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link has-arrow collapsed" href="#!" data-bs-toggle="collapse"
                  data-bs-target="#navMenuLevelThree" aria-expanded="false" aria-controls="navMenuLevelThree">
                  Three Level
                </a>
                <div id="navMenuLevelThree" class="collapse" data-bs-parent="#navMenuLevel">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link collapsed" href="#!" data-bs-toggle="collapse"
                        data-bs-target="#navMenuLevelThreeOne" aria-expanded="false"
                        aria-controls="navMenuLevelThreeOne">
                        NavItem 1
                      </a>
                      <div id="navMenuLevelThreeOne" class="collapse collapse" data-bs-parent="#navMenuLevelThree">
                        <ul class="nav flex-column">
                          <li class="nav-item">
                            <a class="nav-link" href="#!">NavChild Item 1</a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#!">Nav Item 2</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </li>

        <!-- Nav item -->
        <li class="nav-item">
          <div class="navbar-heading">Documentation</div>
        </li>
        <li class="nav-item">
          <a class="nav-link has-arrow collapsed" href="#!" data-bs-toggle="collapse" data-bs-target="#navDocs"
            aria-expanded="false" aria-controls="navDocs">
            <i data-feather="package" class="nav-icon me-2 icon-xxs"></i>
            Docs
          </a>
          <div id="navDocs" class="collapse" data-bs-parent="#sideNavbar">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a href="docs/index.html" class="nav-link">Introduction</a>
              </li>
              <li class="nav-item">
                <a href="docs/environment-setup.html" class="nav-link">Environment setup</a>
              </li>
              <li class="nav-item">
                <a href="docs/working-with-gulp.html" class="nav-link">Working with Gulp</a>
              </li>
              <li class="nav-item">
                <a href="docs/compiled-files.html" class="nav-link">Compiled Files</a>
              </li>
              <li class="nav-item">
                <a href="docs/file-structure.html" class="nav-link">File Structure</a>
              </li>
              <li class="nav-item">
                <a href="docs/resources-assets.html" class="nav-link">Resources & assets</a>
              </li>
              <li class="nav-item">
                <a href="docs/changelog.html" class="nav-link">Changelog</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <div class="card bg-light shadow-none text-center mx-4 my-8">
        <div class="card-body py-6">
          <img src="/assets/images/background/giftbox.png" alt="dash ui - admin dashboard template" />
          <div class="mt-4">
            <h5>Unlimited Access</h5>
            <p class="fs-6 mb-4">
              Upgrade your plan from a Free trial, to select Business Plan.
              Start Now
            </p>
            <a href="#" class="btn btn-secondary btn-sm">Upgrade Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>